*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center; 
    background: linear-gradient(to bottom, #194667, #174866);
}      
.container{
display: flex;
justify-content: center;
align-items: center;
height: 70%;
width: 90%;
max-width: 700px;
overflow: hidden;
box-shadow: 0px 10px 25px rgba(0,0,0,1);
border-radius: 20px;

}
.box1,.box2{
    height: 100%;
    width: 50%;
}

.box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   background: rgba(255, 255, 255, 0.1);
    
}
.box1 input{
    width: 80%;
    height: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}
p{
    font-size: 30px;
    color: wheat;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: #124260;
}
@media (max-width: 768px){

    .container{
        flex-direction: row;
        height: auto;
    }

    .box2{
        display: none;;
    }

    .box1{
        padding: 20px;
        height: 100%;
        border-radius: 10px;
        width: 100%;
    }

    .box1 input{
        width: 100%;
    }

    button{
        width: 50%;
    }
    .container{
        height: 60%;
    }
    p{
        font-size: 20px;
    }

}